!!! 5
html(lan="es")
	head
		title Sueña en Colores - Control
		script(data-main='js/boot', type='text/javascript', src='/js/libs/require.js')
		script(type='text/javascript', src='/js/libs/jquery/jquery.js')
		script(type='text/javascript', src='/js/libs/jquery.textchange.js')
		script(type='text/javascript', src='/js/libs/handlebars.js')
		script(type='text/javascript', src='/js/libs/jquery.maskedinput.js')
		link(type="text/css", rel="stylesheet", href="styles/index.css")
	body
		block content