<div id="div_login">
	<div id="cont_login">
		<table id="login_datos">
			<caption>Ingresar</caption>
			<tbody>
				<tr>
					<td><label>email:</label></td>
					<td><input type="text" name="mail"></td>
				</tr>
				<tr>
					<td><label>clave:</label></td>
					<td><input type="password" name="pass"></td>
				</tr>
				<tr>
					<td><a href="#"></a></td>
					<td><input id="btnLogin" type="button" class="button" value='Ingresar'></br></td>
				</tr>
			</tbody>
		</table>
		<div id="cont_msj">
			<p class="error" style="display:none" id='error'></p>
			<p class="exito" style="display:none" id='exito'></p>
		</div>
	</div>
</div>